In [12]:
import pandas as pd
import numpy as np
import uts
import time

Train Data

In [13]:
import os
# assign directory
directory = 'data/training'

frames = []

# iterate over files in the directory
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        #print(f)
        df = pd.read_csv(f)
        df["filename"] = filename[:-4]       
        
        frames.append(df)

df = pd.concat(frames)

#reindex df
df.shape  #(26011, 10)
df.index = np.arange(len(df))

# df.loc[55]

Testing wordsegment

In [14]:
#df["FormElementName"].loc[20000:]

# to save time
# df = df.loc[20000:]
# df

# 20001         AnnualEstimate
# 20002     SolarFeedInDisplay
# 20003     TotalCostForPeriod
# 20004      RetailerContactNo
# 26007    AieosTeamsWebhookId > a i eos teams web hook id
# 26008             GetMessage

In [15]:
# df = df.applymap(str)
# df = uts.splitWordSegment(df)

In [16]:
# df["FormElementName"].loc[20000:26008]
df["FormElementName"].loc[682:694]

682        ComparisonRate
683            Repayments
684             VedaScore
685    EstimatedRepayment
686        SelectAndApply
687              Progress
688               Payment
689             AccountId
690           Description
691             Scheduled
692             Processed
693             Principal
694              Interest
Name: FormElementName, dtype: object

In [17]:
df = df.applymap(str)
df = uts.splitWordSegment(df)

# # option 2: split
# for index, row in df.iterrows():
#     df.loc[index,'FormElementName'] = uts.splitAtUpperCase(row['FormElementName'])

gdf = df.groupby(['filename','ProjectName','FormName'])
# gdf = gdf[['filename', 'ProjectName', 'FormName', 'FormElementName', 'ProjectGuid', 'FormGuid', 'FormElementId']]
gdf = gdf[['filename', 'ProjectName', 'FormName', 'FormElementName']]

In [18]:
# checking forms with <= 1 form element
x = df.groupby(['filename','ProjectName','FormName'])['FormName'].count()
x = x[x<=1]
x

filename         ProjectName           FormName
AustralianUnity  CommunicationGateway  AieosChatReply                   1
                                       Support                          1
                                       UserPreference                   1
                 Finance               AccountDetailsParentComponent    1
                                       ApplicantParentComponent         1
                                                                       ..
VistaEnergy      Workflow              Scorecard                        1
                                       Stream                           1
                                       Workflow                         1
                                       WorkflowGroup                    1
                                       WorkflowNode                     1
Name: FormName, Length: 403, dtype: int64

In [19]:
# dfr=gdf.apply(lambda x: x)
# dfr.to_csv('result/grouped.csv')

In [20]:
gdf.get_group(('VistaEnergy','SmartDocHub', 'ClientMessageQueue'))

          filename  ProjectName            FormName  FormElementName
13807  VistaEnergy  SmartDocHub  ClientMessageQueue          message
13808  VistaEnergy  SmartDocHub  ClientMessageQueue           action
13809  VistaEnergy  SmartDocHub  ClientMessageQueue             path
13810  VistaEnergy  SmartDocHub  ClientMessageQueue  user profile id
13811  VistaEnergy  SmartDocHub  ClientMessageQueue            group

In [21]:
# gdf.get_group(('Nimble','SmartDocHub', 'ClientMessageQueue'))
# ('Saiver', 'SmartDocHub', 'ClientMessageQueue')
# ('Nimble', 'SmartDocHub', 'ClientMessageQueue')

Table (group) Head Encoding

In [22]:
# assert False

df to set

[Updated At] [  Party Id] [Created At] [Updated At] [    Job Id]
to  {'Updated', 'At', 'Party', 'Id', 'Created', 'At', 'Updated', 'At', 'Job', 'Id', 'Name'}

In [23]:
# df to one set
def df_set_new(gdf):

    drop_lst = []
    res = []    
    for table_name, df in gdf:
        
        df = df.dropna() 
                
        if len(df.index) <= 1:
            drop_lst.append(table_name)
            pass
        else:
            df_tmp = df[['FormElementName']]
        
            string =''
            for item in df_tmp['FormElementName']:
                string = string + ' ' + item
            
            lst = string.split()
            #print("lst: ",lst)
        
            res.append(set(lst))
            
        #print("todo: drop 0 or 1", len(df.index), table_name)  ## drop it and drop it from tn as well
        
    return res, drop_lst

lst, drop_lst = df_set_new(gdf)
lst[:2]

[{'chat',
  'create',
  'get',
  'hook',
  'identifier',
  'name',
  'new',
  'recipient',
  'teams',
  'user',
  'users',
  'web'},
 {'a',
  'eos',
  'get',
  'hook',
  'i',
  'id',
  'message',
  'resource',
  'responded',
  'subscription',
  'teams',
  'user',
  'web'}]

In [24]:
lst[:2]

[{'chat',
  'create',
  'get',
  'hook',
  'identifier',
  'name',
  'new',
  'recipient',
  'teams',
  'user',
  'users',
  'web'},
 {'a',
  'eos',
  'get',
  'hook',
  'i',
  'id',
  'message',
  'resource',
  'responded',
  'subscription',
  'teams',
  'user',
  'web'}]

In [25]:
#### Table dictionary
tn = pd.DataFrame(gdf).loc[:,0]

# tn == series
tn_lst = []

for idx, item in enumerate(tn):
    if item in drop_lst:
        pass
        #print(idx,item)
    else:    
        nlst = [idx]
        #tuple to list
        nlst = nlst + list(item) 
        nlst.append(item)
        tn_lst.append(nlst) 
        
tn_lst

tn = []
for row in tn_lst:
    tn.append(row[0])
tn

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 10,
 11,
 13,
 14,
 16,
 17,
 18,
 19,
 20,
 21,
 23,
 24,
 25,
 27,
 28,
 30,
 32,
 34,
 35,
 36,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 85,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 96,
 98,
 99,
 101,
 102,
 103,
 104,
 108,
 109,
 110,
 111,
 112,
 113,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 136,
 138,
 140,
 141,
 143,
 144,
 146,
 147,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 169,
 170,
 171,
 172,
 173,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 199,
 200,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 210,
 211,
 212,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 228,
 229,
 230,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 325,
 327,
 328,
 330,
 331,
 332,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 357,
 358,
 359,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 373,
 374,
 375,
 378,
 379,
 380,
 381,
 382,
 383,
 385,
 386,
 387,
 388,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 479,
 480,
 481,
 482,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 500,
 501,
 502,
 505,
 506,
 507,
 508,
 509,
 510,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 569,
 570,
 572,
 573,
 574,
 575,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 613,
 614,
 615,
 616,
 617,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 653,
 654,
 656,
 658,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 693,
 694,
 695,
 696,
 698,
 701,
 702,
 703,
 704,
 706,
 708,
 709,
 710,
 712,
 714,
 715,
 716,
 717,
 719,
 721,
 722,
 723,
 724,
 725,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 762,
 763,
 764,
 765,
 766,
 767,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 778,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 801,
 802,
 803,
 804,
 805,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 822,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 861,
 862,
 863,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 903,
 904,
 905,
 906,
 907,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 933,
 935,
 936,
 937,
 938,
 939,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 971,
 972,
 973,
 974,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 986,
 987,
 988,
 989,
 990,
 991,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1014,
 1016,
 1018,
 1019,
 1021,
 1024,
 1025,
 1026,
 1027,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1050,
 1051,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1076,
 1077,
 1078,
 1079,
 1081,
 1082,
 1083,
 1084,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1098,
 1099,
 1100,
 1101,
 1103,
 1104,
 1105,
 1106,
 1108,
 1109,
 1110,
 1111,
 1112,
 1113,
 1114,
 1115,
 1116,
 1117,
 1118,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1133,
 1135,
 ...]

Calculate Intersection Matrix

In [26]:
def create_inetrsection_matrix(lst_set):
    mtr = []

    for fe1 in lst_set:
        row = []
        for fe2 in lst_set:            
            u = fe1.union(fe2) ### error
            i = fe1.intersection(fe2)
            
            
            # if len(u) == 0:
            #     print(fe1, fe2)
            
            
            dist = 0
            if not u: # empty set
                print(u)
            else:
                dist = 1- (len(i) / len(u)) #todo division by zero  
                            
            
            row.append(dist)
        mtr.append(row)

    matrix = pd.DataFrame.from_records(mtr)
    return matrix

In [ ]:
s = time.time()

# create matrix
matrix = create_inetrsection_matrix(lst)
matrix.set_axis(tn, axis=1, inplace=True)
matrix.set_axis(tn, axis=0, inplace=True)
matrix

assert False

/tmp/ipykernel_2637261/1877500400.py:5: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  matrix.set_axis(tn, axis=1, inplace=True)
/tmp/ipykernel_2637261/1877500400.py:6: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  matrix.set_axis(tn, axis=0, inplace=True)

,1,2,3,4,5,6,7,8,10,11,...,3432,3433,3434,3435,3436,3437,3438,3439,3440,3441
1,0.000000,0.750000,0.857143,0.944444,0.923077,0.920000,0.944444,0.944444,1.0,1.000000,...,0.920000,0.973684,0.961538,0.965517,0.944444,0.952381,0.955556,0.957447,0.956522,0.958333
2,0.750000,0.000000,0.730769,0.823529,0.925000,0.880000,1.000000,1.000000,1.0,0.869565,...,0.923077,1.000000,1.000000,0.966667,0.947368,0.954545,0.956522,0.958333,0.913043,0.916667
3,0.857143,0.730769,0.000000,0.961538,0.913043,0.906250,1.000000,1.000000,1.0,0.777778,...,0.970588,0.931818,0.939394,0.944444,0.920000,0.965517,0.962264,0.944444,0.967742,0.968750
4,0.944444,0.823529,0.961538,0.000000,0.942857,0.900000,0.923077,1.000000,1.0,1.000000,...,0.900000,1.000000,1.000000,0.958333,0.923077,0.866667,0.923077,0.926829,0.812500,0.823529
5,0.923077,0.925000,0.913043,0.942857,0.000000,0.714286,0.972222,0.942857,1.0,0.951220,...,0.928571,0.903846,0.953488,0.933333,0.972222,0.947368,0.934426,0.919355,0.950000,0.951220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3437,0.952381,0.954545,0.965517,0.866667,0.947368,0.863636,0.300000,0.866667,1.0,1.000000,...,0.809524,0.972222,0.958333,0.962963,0.937500,0.000000,0.953488,0.955556,1.000000,1.000000
3438,0.955556,0.956522,0.962264,0.923077,0.934426,0.936170,0.975610,0.975610,1.0,1.000000,...,0.936170,0.912281,0.888889,0.960784,0.975610,0.953488,0.000000,0.243902,0.978261,0.978723
3439,0.957447,0.958333,0.944444,0.926829,0.919355,0.938776,0.976744,0.976744,1.0,0.979592,...,0.938776,0.896552,0.893617,0.962264,0.976744,0.955556,0.243902,0.000000,0.957447,0.958333
3440,0.956522,0.913043,0.967742,0.812500,0.950000,0.961538,1.000000,1.000000,1.0,0.958333,...,0.961538,0.973684,1.000000,1.000000,1.000000,1.000000,0.978261,0.957447,0.000000,0.076923
3441,0.958333,0.916667,0.968750,0.823529,0.951220,0.962963,1.000000,1.000000,1.0,0.960000,...,0.962963,0.974359,1.000000,1.000000,1.000000,1.000000,0.978723,0.958333,0.076923,0.000000

In [ ]:
matrix.head()

# matrix to csv
matrix.to_csv('result/res_matrix_3_new_header.csv')

e = time.time()
print("took: ", e-s)

took:  23.475823640823364

In [ ]:
tndf = pd.DataFrame(tn_lst, columns=['Id','Compose', 'Project', 'Form', 'Concat'])
tndf.to_csv("result/table_name_list.csv", index=False)
pd.DataFrame(drop_lst).to_csv("result/dropped_form_list.csv", index=False)

Matrix to tree

In [ ]:
from Bio.Phylo.TreeConstruction import DistanceTreeConstructor
from Bio.Phylo.TreeConstruction import _Matrix
from Bio.Phylo.TreeConstruction import DistanceMatrix
from Bio import Phylo

# create a for loop 1 to 4

In [ ]:
ddf = pd.read_csv('result/res_matrix_3_new_header.csv',keep_default_na=False)

ddf = ddf.iloc[:,1:]

# making triangular shape
names = ddf.columns.tolist()
lst = ddf.values.tolist()
for idx, row in enumerate(lst):
    del row[idx+1:]
    
    
assert False

AssertionError:

In [ ]:
s = time.time()

df = lst
dm = DistanceMatrix(names=names, matrix=df)
constructor = DistanceTreeConstructor()
upgmatree = constructor.upgma(dm)

#upgmatree.ladderize()  # Flip branches so deeper clades are displayed at top
#Phylo.draw_ascii(upgmatree)

e = time.time()
print("took: ", e-s)

took:  7356.690273284912

In [ ]:
from Bio.Phylo import NewickIO

s = time.time()
print(s)

with open('result/nwtree_1403.txt', 'w') as file:
    fileNo = NewickIO.write([upgmatree],file)
    print(fileNo)

tree_text = ""
with open('result/nwtree_1403.txt', 'r') as file:
    tree_text = file.read().replace('\n', '')
    
    
e = time.time()
print("took: ", e-s)

1678768962.7392504
1
took:  0.04871082305908203

In [ ]:
import json

s = time.time()

dict = {
    "newick": tree_text
}
json_obj = json.dumps(dict, indent=4)

with open("d3treeview-app/src/tree.json","w") as outfile:
    outfile.write(json_obj)
    
e = time.time()
print("took: ", e-s)

took:  0.0012774467468261719

In [ ]:
from pycirclize import Circos
from io import StringIO
from Bio import Phylo

s = time.time()


# Load newick tree
tree = Phylo.read(StringIO(tree_text), "newick")

# Initialize circos sector by tree size
circos = Circos(sectors={"Tree": tree.count_terminals()})
sector = circos.sectors[0]

# Plot tree
track = sector.add_track((50, 100))
track.axis(ec="lightgrey")
track.tree(tree, leaf_label_size=12)

fig = circos.plotfig()

e = time.time()
print("took: ", e-s)

ModuleNotFoundError: No module named 'pycirclize'